.WeekdayWeather {
    padding: 0.5rem;
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4),
        -4px -4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeekdayWeather p {
    font-weight: 600;
}

.WeekdayWeatherIcon {
    font-size: 60px;
}